
.icon-cog:before { content: '\e800'; } /* '' */
.icon-logout:before { content: '\e801'; } /* '' */
.icon-wallet:before { content: '\e802'; } /* '' */
.icon-award:before { content: '\e803'; } /* '' */
.icon-book-alt:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
